.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 45rem;
  height: 45rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
}

.card .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.card .card-content h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.card .card-content .card-subtitle {
  font-size: 1.2rem;
  padding-top: 2px;
  margin-left: 10px;
}

.card .card-button {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.card .card-button button {
  padding: 1rem 2rem;
}

.card .card-position {
  position: relative;
  top: -41rem;
  left: 30%;
}

.p-success {
  color: #007e33;
  font-size: 1rem;
  margin: 0.5rem 0 0 0.5rem;
}


@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .card .card-position {
    left: 12.5%;
  }
}

@media (max-height: 768px) {
  .card {
    height: 35rem;
  }

  .card .card-position {
    top: -30rem;
  }
}
