<app-navbar></app-navbar>

<div class="container">
  <div class="grid">
    <div class="col-5 flex align-items-center justify-content-center">
      <div class="p-fluid card">
        <div class="card-title">
          <h1 class="text-center">En avant super-héro</h1>
        </div>
        <div class="p-float-label">
          <input pInputText [(ngModel)]="username" id="username" type="text"/>
          <label htmlFor="username">Username</label>
        </div>
        <div class="p-float-label">
          <input pInputText [(ngModel)]="password" id="password" type="password"/>
          <label htmlFor="password">Password</label>
        </div>
        <p-button class="p-button" label="Login" (click)="login()"></p-button>
      </div>
      <span class="p-error" *ngIf="errorMessage" [@fadeOut]="errorMessage">{{ errorMessage }}</span>
    </div>
  </div>
</div>
