.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.card {
  padding: 5rem 4rem;
  border-radius: 10px;
  display: flex;
}

@media screen and (max-width: 673px) {
  .card {
    padding: 3rem 2rem;
    display: block;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-divider {
  margin: 0 2rem;
}

.card-title h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 3rem 0;
}

.card .p-float-label {
  margin-top: 2rem;
}

.card .p-button {
  margin-top: 1.5rem;
  padding: 0;
}
