.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper .brand-logo {
  position: relative;
  font-size: 3.5rem;
  margin-left: 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .nav-wrapper .brand-logo {
    margin-left: 0;
  }
}

.nav-wrapper .nav-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-wrapper .nav-button button{
  height: 5rem;
}
